.innerdiv {
	width: 50%;
	height: 75%;
}
.buttons {
	position: absolute;
	top: 75%;
	left: 40%;
}
th, td {
	text-align: center;
	font-weight: bold;
}
th {
	background-color: #006622;
	color: #ffffff;
}
table {
	background-color: #ffffff;
}