<div class="header">
    <h1>{{ title }}</h1>
</div>
<div class="container">
<img src="assets/img/Jogging.svg" />
<img class="image" src="assets/img/Pain.svg"/>
<div class="mydiv">
   <div class="login"><h1>Login</h1></div>
 <div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">  
    <div class="form-group">
      <br>
       <select class="form-control" [(ngModel)]="selectedUser" id="user" name="state" required >
     <option *ngFor="let role of roles" [value]="role">{{role}}</option>
       </select>
  </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
	<fieldset [disabled]="formDisabled">
      <br>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          placeholder="Enter your email address"
		  email
		  #email="ngModel"
        />
		<div class="error" *ngIf="email.errors && (email.invalid || email.touched)">
          <small *ngIf="email.errors.required && email.touched">Email is required</small>
          <small *ngIf="email.errors.email">Please enter valid email</small>
        </div>
      </div>
	  <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
		  placeholder="Enter the password"
		  pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
		  #password="ngModel"
        />
		<div class="error" *ngIf="password.errors && (password.invalid || password.touched)">
          <small *ngIf="password.errors.required && password.touched">Password is required</small>
          <small *ngIf="password.errors.pattern">Please enter valid password</small>
        </div>
      </div>
	  <div>
	        <button class="btn" [disabled]="!authForm.valid" type="submit">
            Submit
          </button>&nbsp;
          <button class="btn" (click)="authForm.reset()" type="button">
            Reset
          </button><br>
          <a routerLink="forgot-password">Forgot password?</a><br><br>
          <label *ngIf="selectedUser === 'Challenger'">New Challenger?</label>&nbsp;
          <button *ngIf="selectedUser === 'Challenger'" class="btn" routerLink="register" type="button">
            Register
          </button>
	  </div>
	  </fieldset>
	  </form>
  </div>
  </div>
</div>
</div>
<div class="spinner" *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
</div>
<app-alert [message]="alert" [type]="type" *ngIf="alert" (close)="onHandleAlert()">
</app-alert>

