h1 {
	text-align: center;
}
.innerdiv {
	width: 80%;
	height: 90%;
}
.form-control {
	color: #ffffff;
	background-color: #006622;
	text-align: center;
}
.fc {
	background-color: #ffffff;
	color: #000000;
}
.list-group-item {
	text-align: center;
}
.co {
	background-color: red;
}
.report {
	background-color: blue;
}
.btnupdate {
	background-color: orange;
}