<div class="userdiv">
<div class="innerdiv">
<div class="innerheader"><h2>{{ title }}</h2></div>
 <div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">  
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
	<fieldset [disabled]="formDisabled">
	  <br>
	  <div class="form-group">
        <label for="currentpassword">Enter the current password</label>
        <input
          type="password"
          id="currentpassword"
          class="form-control"
          ngModel
          name="currentpassword"
          required
		  placeholder="Password"
		  pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
		  #currentpassword="ngModel"
        />
		<div class="error" *ngIf="currentpassword.errors && (currentpassword.invalid || currentpassword.touched)">
          <small *ngIf="currentpassword.errors.required && currentpassword.touched">Current password is required</small>
          <small *ngIf="currentpassword.errors.pattern">Password should have atleast 8 characters and atleast one of these(uppercase, lowercase, number, special character)</small>
        </div>
      </div>
	  <div class="form-group">
        <label for="password">Enter new password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
		  placeholder="New password"
		  pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
		  #password="ngModel"
        />
		<div class="error" *ngIf="password.errors && (password.invalid || password.touched)">
          <small *ngIf="password.errors.required && password.touched">Password is required</small>
          <small *ngIf="password.errors.pattern">Password should have atleast 8 characters and atleast one of these(uppercase, lowercase, number, special character)</small>
        </div>
      </div>
	  <div class="form-group">
        <label for="retypepassword">Confirm new password</label>
        <input
          type="password"
          id="retypepassword"
          class="form-control"
          ngModel
          name="retypepassword"
          required
		  placeholder="Confirm password"
		  pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
		  #retypepassword="ngModel"
        />
		<div class="error" *ngIf="retypepassword.errors">
          <small *ngIf="retypepassword.errors.required && retypepassword.touched">Please confirm the password</small>
		  <small *ngIf="retypepassword.errors.pattern">Please enter valid password</small>
      </div>
      </div>
	  <div>
	    <button class="btn" [disabled]="!authForm.valid" type="submit">
		 Submit
        </button>
	  </div>
	  </fieldset>
	  </form>
  </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
</div>
<app-alert [message]="alert" [type]="type" *ngIf="alert" (close)="onHandleAlert()">
</app-alert>
</div>


