<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a (click)="goHome()" class="navbar-brand">Home</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	    <!-- Administrator -->
        <li *ngIf="user.role === 'Administrator'">
          <a routerLink="requests" routerLinkActive="active">Requests</a>
        </li>
		<li *ngIf="user.role === 'Administrator'">
          <a routerLink="manage-users" routerLinkActive="active">Manage Users</a>
        </li>
		<!-- Administrator and Challenger -->
		<li *ngIf="user.role === 'Administrator'">
          <a routerLink="post" routerLinkActive="active">Post</a>
        </li>
		<li *ngIf="user.role === 'Challenger'">
          <a routerLink="post" routerLinkActive="active">Diet/Workout Plan</a>
        </li>
		<!-- All -->
		<li>
          <a routerLink="message" routerLinkActive="active">Messages</a>
        </li>
		<li>
          <a routerLink="daily-log" routerLinkActive="active">Daily Log</a>
        </li>
		<li>
          <a routerLink="monthly-chart" routerLinkActive="active">Monthly Chart</a>
        </li>
        <li>
          <a routerLink="change-password" routerLinkActive="active">Change Password</a>
        </li>
		<li>
          <a (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

