.innerdiv {
	width: 60%;
	height: 85%;
}
.buttons {
	position: absolute;
	top: 90%;
	left: 40%;
}
th, td {
	text-align: center;
	font-weight: bold;
}
th {
	background-color: #006622;
	color: #ffffff;
}
table {
	background-color: #ffffff;
}
.btn {
	background-color: #bf8fcc;
}