.innerdiv {
	width: auto;
}
.buttons {
	position: relative;
	top: 90%;
	left: 43%;
	padding: 1%;
}
th, td {
	text-align: center;
	font-weight: bold;
}
th {
	background-color: #006622;
	color: #ffffff;
}
table {
	background-color: #ffffff;
}
.btn {
	background-color: #bf8fcc;
}
.b {
	background-color: #006622;
}
.form-group {
	position: relative;
}