.header {
	text-align: center;
	color: #ffffff;
	background-color: #006622;
	border-style: ridge;
	border-color: #006622;
	height: 220px;
}
.mydiv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44vw;
    height: 70vh;
	transform: translate(-50%,-50%);
    border: 6px double #006622;
    background-color: #e6ffe6;
	border-radius: 1em;
}
.innerdiv {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 35%;
	height: auto;
	border: 6px solid #ccffcc/*#e5e5cc*/;
	transform: translate(-50%,-50%);
    background-color: #e6ffe6;
	border-radius: 1em;
}
.innerheader {
	text-align: center;
	color: #ffffff;
	background-color: #006622;
	width: 100%;
    height: 16%;
	border: 0.25em dotted #006622;
	border-bottom-style: groove;
}
.userdiv {
	position: absolute;
	top: 54.5%;
	left: 50%;
	width: 99.6%;
	height: 91%;
	transform: translate(-50%,-50%);
    background-color: #ccffcc;
	border: 12px outset #006622;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
}
.btn {
	background-color: #006622;
	color: #ffffff;
}
.error {
	color: red;
}
