<div class="userdiv">
<div class="innerdiv">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group"> 
	<label for="send">Send Message To</label>
          <select class="form-control" [(ngModel)]="selectedSend" id="send">
		    <option *ngFor="let s of send" [value]="s">{{s}}</option>
          </select>
	</div>
	<div *ngIf="selectedSend==='Particular User' || selectedSend==='Challenger' || selectedSend==='Motivator'" class="form-group">
	    <input
          type="email"
		  class="form-control"
          placeholder="Enter the username"
		  [(ngModel)]="username"
        />
	</div>
	<div *ngIf="selectedSend==='Batch' || selectedSend==='Group'" class="form-group">
	    <label for="batch">Select Batch</label>
          <select class="form-control" [(ngModel)]="sendBatch" id="batch">
		    <option *ngFor="let batch of batches" [value]="batch">{{batch}}</option>
          </select>
	</div>
	<div *ngIf="selectedSend==='Group'" class="form-group">
	    <label for="group">Select Group</label>
          <select *ngIf="sendBatch==='BELOW_BMI_25'" class="form-control" [(ngModel)]="sendGroup" id="group">
			<option *ngFor="let group of groups1" [value]="group.name">{{group.name}}</option>
          </select>
		  <select *ngIf="sendBatch==='ABOVE_BMI_25'" class="form-control" [(ngModel)]="sendGroup" id="group">
			<option *ngFor="let group of groups2" [value]="group.name">{{group.name}}</option>
          </select>
	</div>
	<div class="form-group">
	    <label for="message">Message</label>
          <textarea id="message" class="form-control" [(ngModel)]="message" rows="2" cols="50">
          </textarea>
	</div>
	<button class="btn" (click)="sendMessage()" type="button">
		Send
    </button>
  </div>
  
</div>
<div *ngIf="table" class="row">
  <div class="container">
    <table class="table table-hover">
	<thead>
	<tr>
	<th>Date</th>
    <th>From</th>
    <th>Message</th>
	</tr></thead>
	<tbody>
    <tr *ngFor = "let message of messages">
    <td>{{ message.date }}</td>
    <td>{{ message.fromUser }}</td>
    <td>{{ message.message }}</td>
     </tr>
	 </tbody>
</table>
</div>
</div>
</div>
<div class="spinner" *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
</div>
<app-alert [message]="alert" [type]="type" *ngIf="alert" (close)="onHandleAlert()">
</app-alert>
