th, td {
	text-align: center;
	font-weight: bold;
}
th {
	background-color: #006622;
	color: #ffffff;
}
table {
	background-color: #ffffff;
}
.innerdiv {
	position: relative;
	height: 70%;
	width: 30%;
	top: 35%;
}